body {
    background-color: rgb(15, 23, 36);
}
.slider_wrapper{
    position: relative;
    margin-bottom: 10px;
}

.slider_time_pos{
    position: absolute;
    width: 4px;
    background: red;
    height: 100%;
    top: 0;
    left: 20%;
    z-index: 12;
    cursor: pointer;
}
.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
header {
    background-color: rgb(33, 44, 61);
}
.bg-1 {
    background-color: rgb(15, 23, 36);
}
.bg-2 {
    background-color: rgb(34, 48, 70);
}
.bg-3 {
    background-color: rgb(14, 59, 69);
}
.bg-4 {
    background-color: rgb(29, 38, 54);
}
.color-1 {
    color: rgb(198, 211, 231)
}
.color-2 {
    color: rgb(17, 236, 229);
}
.color-3 {
    color: rgb(108, 232, 228);
}
button {
    background-color: rgb(17, 236, 229) !important;
    border-radius: 20px !important;
    color: rgb(29, 38, 54) !important;
}
button:hover {
    filter: brightness(1.15);
    box-shadow: rgb(10 10 10 / 24%) 4px 4px 9px 3px;
}
.button {
    background-color: rgb(37, 54, 78) !important;
    color: rgb(17, 236, 229) !important;
    cursor: pointer;
    font-family: Nunito, Arial, Helvetica, sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 5px 10px !important;
    border: none !important;
    display: inline-flex !important;
    box-sizing: border-box !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    vertical-align: middle !important;
    margin: 0px;
}
.button:hover {
    color: rgb(29, 38, 54) !important;
    background-color: rgb(17, 236, 229) !important;
}*/